{% extends "sausage_grinder/base.html" %}
{% import 'sausage_grinder/list_item_macros.html' as list_macros %}
{% block title %}{{ artist.name }}{% endblock %}
{% block content %}
{% if artist.image_640 is not none %}
<img src="{{ artist.image_640 }}"/>
{% elif artist.image_600 is not none %}
<img src="{{ artist.image_600 }}"/>
{% endif %}<br/><br/>
{{ artist.name }}<br/>

<table>
<tr><td>Spotify followers:</td><td style="text-align:right">{{ "{:,d}".format(artist.followers) }}</td></tr>
{% if artist.followers > artist.release_day_foll %}
<tr><td>&nbsp;&nbsp;at most recent release:</td><td style="text-align:right">{{ "{:,d}".format(artist.release_day_foll) }}
(<font color=green>+{{ artist.followers - artist.release_day_foll }}</font>)
</td></tr>
{% elif artist.followers < artist.release_day_foll %}
<tr><td>&nbsp;&nbsp;at most recent release:</td><td style="text-align:right">{{ "{:,d}".format(artist.release_day_foll) }}
(<font color=red>-{{ artist.release_day_foll - artist.followers }}</font>)
</td></tr>
{% endif %}
{% if artist.max_foll > artist.followers %}
<tr><td>&nbsp;&nbsp;max:</td><td align="right">{{ "{:,d}".format(artist.max_foll) }}
(<font color=red>-{{ artist.max_foll - artist.followers }}</font>)
</td></tr>
{% endif %}
<tr><td></td><td></td></tr>
<tr><td>Spotify popularity:</td><td style="text-align:right">{{ artist.popularity }}</td></tr>
{% if artist.popularity > artist.release_day_pop %}
<tr><td>&nbsp;&nbsp;at most recent release:</td><td style="text-align:right">{{ artist.release_day_pop }}
(<font color=green>+{{ artist.popularity - artist.release_day_pop }}</font>)
</td></tr>
{% elif artist.popularity < artist.release_day_pop %}
<tr><td>&nbsp;&nbsp;at most recent release:</td><td style="text-align:right">{{ artist.release_day_pop }}
(<font color=red>-{{ artist.release_day_pop - artist.popularity }}</font>)
</td></tr>
{% endif %}
{% if artist.max_pop > artist.popularity %}
<tr><td>&nbsp;&nbsp;max:</td><td>{{ artist.max_pop }}
(<font color=red>-{{ artist.max_pop - artist.popularity }}</font>)
</td></tr>
{% endif %}
</table>


<div class="genres">
    {% for genre in artist.genres.all() %}
        <a href="genre?id={{ genre.name|urlencode() }}">{{ genre.name }}</a>
    {% endfor %}
</div>

<br/>
<div class="release">
    {% set release_list = artist.release_list() %}
    {% if release_list|length > 0 %}
        Releases:<br/>
        {% for release in release_list %}
            {{ list_macros.release_list_item(release, True) }}
        {% endfor %}
    {% endif %}
    {% set featured_list = artist.release_list('FEATURED') %}
    {% if featured_list|length > 0 %}
        <br/>Featured on:<br/>
        {% for release in featured_list %}
            {{ list_macros.release_list_item(release, True) }}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
