{% extends "sausage_grinder/base.html" %}
{% import 'sausage_grinder/list_item_macros.html' as list_macros %}
{% block title %}{{ artist.name }}{% endblock %}
{% block content %}
{% if artist.image_640 is not none %}
<img src="{{ artist.image_640 }}"/>
{% elif artist.image_600 is not none %}
<img src="{{ artist.image_600 }}"/>
{% endif %}
{{ artist.name }}<br/>
Spotify followers: {{ artist.followers }}<br/>
Spotify rank: {{ artist.popularity }}<br/>
<div class="genres">
    {% for genre in artist.genres.all() %}
        <a href="genre?id={{ genre.name|urlencode() }}">{{ genre.name }}</a>
    {% endfor %}
</div>

<br/>
<div class="release">
    {% set release_list = artist.release_list() %}
    {% if release_list|length > 0 %}
        Releases:<br/>
        {% for release in release_list %}
            {{ list_macros.release_list_item(release, True) }}
        {% endfor %}
    {% endif %}
    {% set featured_list = artist.release_list('FEATURED') %}
    {% if featured_list|length > 0 %}
        <br/>Featured on:<br/>
        {% for release in featured_list %}
            {{ list_macros.release_list_item(release, True) }}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
