{% import 'sausage_grinder/list_item_macros.html' as list_macros %}

{% extends "sausage_grinder/base.html" %}
{% block title %}{{ week.week_date }}{% endblock %}

{% block content %}
<div class='title'>{{ week.week_date }}</div>

<div id='genres'>
{% for genre in genres %}
{{ list_macros.genre_list_item(genre) }}
{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if genres.has_previous() %}
            <a href="?page={{ genres.previous_page_number() }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ genres.number }} of {{ genres.paginator.num_pages }}.
        </span>

        {% if releases.has_next() %}
            <a href="?page={{ genres.next_page_number() }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
