{% import 'sausage_grinder/list_item_macros.html' as list_macros %}

{% extends "sausage_grinder/base.html" %}
{% block title %}{{ genre.name }}{% endblock %}

{% block content %}
<div class='title'>{{ genre.name }}</div>

<div id='releases'>
{% for release in releases %}
{{ list_macros.release_list_item(release) }}
{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if releases.has_previous() %}
            <a href="?name={{ genre.name }}&page={{ releases.previous_page_number() }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ releases.number }} of {{ releases.paginator.num_pages }}.
        </span>

        {% if releases.has_next() %}
            <a href="?name={{ genre.name }}&page={{ releases.next_page_number() }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
