{% import 'sausage_grinder/list_item_macros.html' as list_macros %}

{% extends "sausage_grinder/base.html" %}
{% block title %}Sausage Grinder{% endblock %}

{% block content %}
<div id='Artists'><h1>Artists</h1>
{% for artist in artists %}
{{ list_macros.release_list_item(artist.most_recent_release()) }}
{% endfor %}
</div>

<div class="artist_pagination">
    <span class="step-links">
        {% if artists.has_previous() %}
            <a href="?page={{ artists.previous_page_number() }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ artists.number }} of {{ artists.paginator.num_pages }}.
        </span>

        {% if artists.has_next() %}
            <a href="?page={{ artists.next_page_number() }}">next</a>
        {% endif %}
    </span>
</div>
</div>

{% endblock %}
