{% macro release_list_item(release, show_week=False) -%}
<div class="release_list_item" style="width:100%">
    {% if release.is_freshcut %}
    <div class="freshcut">
    {% endif %}
        <div style="width:84px;height:84px;margin-left:5px;margin-right:5px;float:left">
        {% if release.image_64 is not none %}
        <img src="{{ release.image_64 }}" style="margin:10px"/>
        {% endif %}
        </div>
        <div class="album"><a href="release?id={{ release.id }}">
            {{ release.title }}</a>
        {% if show_week %}
         included in <a href="week?id={{ release.week.week_date|urlencode() }}">
            {{ release.week.week_date }}</a>
        {% endif %}
        </div>
        <div class="artist">
            {% set artist_list = release.artist_list() %}
            {% if artist_list|length > 0 %}
                by {{ artist_list|safe }}
            {% else %}
                by Various Arists
            {% endif %}
            {% set featured_list = release.artist_list('FEATURED') %}
            {% if featured_list|length > 0 %}
                featuring {{ featured_list|safe }}
            {% endif %}
        </div>
        <div class="genres">
            {% for genre in release.genres.all() %}
                <a href="genre?id={{ genre.name|urlencode() }}">{{ genre.name }}</a>
            {% endfor %}
        </div>
        {% set recommendation_list = release.recommendation_list() %}
        {% if recommendation_list|length > 0 %}
            {% for recommendation in recommendation_list %}
                {% if recommendation.position > 0 %}
                    {{ recommendation.type }}&rsquo;s #{{ recommendation.position }} of the week<br/>
                {% else %}
                    recommended by {{ recommendation.type }}<br/>
                {% endif %}
            {% endfor %}
        {% endif %}

        {{ release.get_popularity_class_display() }}<br/>
        {% if release.is_sample %}
        In Sampler<br/>
        {% endif %}

    {% if release.is_freshcut %}
    </div>
    {% endif %}
</div><br/>
{%- endmacro %}

{% macro track_list_item(track) -%}
<div class="track_list_item">
    {% if track.is_sample %}
    <div class="freshcut">
    Sampled track:<br/>
    {% endif %}
    <iframe src="https://embed.spotify.com/?uri={{ track.spotify_uri|urlencode }}&theme=white" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
    {% if track.is_sample %}
    </div>
    {% endif %}
</div>
{%- endmacro %}
