{% import 'sausage_grinder/list_item_macros.html' as list_macros %}

{% extends "sausage_grinder/base.html" %}
{% block title %}{{ release.title }}{% endblock %}

{% block content %}
<div class="album"><a href="release?id={{ release.id }}">{{ release.title }}</a></div>
<div class="artist">
  {% set artist_list = release.artist_list() %}
  {% if artist_list|length > 0 %}
    by {{ artist_list|safe }}
  {% else %}
    by Various Arists
  {% endif %}
  {% set featured_list = release.artist_list('FEATURED') %}
  {% if featured_list|length > 0 %}
    featuring {{ featured_list|safe }}
  {% endif %}
</div>
<div class="genres">
  {% for genre in release.genres.all() %}
    <a href="genre?id={{ genre.name|urlencode() }}">{{ genre.name }}</a>
  {% endfor %}
</div>
{% set recommendation_list = release.recommendation_list() %}
{% if recommendation_list|length > 0 %}
  recommended by
  {% for recommendation in recommendation_list %}
    {{ recommendation.type }}
  {% endfor %}
  <br/>
{% endif %}
<br/>
<iframe src="https://embed.spotify.com/?uri={{ release.spotify_uri|urlencode }}&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
<br/><br/>
<a href="week?id={{ release.week.week_date|urlencode() }}">{{ release.week.week_date }}</a><br/><br/>

{% for track in release.track_list() %}
  {{ list_macros.track_list_item(track) }}
{% endfor %}
{% endblock %}
