{% import 'sausage_grinder/list_item_macros.html' as list_macros %}

{% extends "sausage_grinder/base.html" %}
{% block title %}{{ week.week_date }}{% endblock %}

{% block content %}
<div class='title'>{{ week.week_date }}</div>


<div id='artists'>
{% for artist in artists %}
{{ list_macros.release_list_item(artist.week_release(week)) }}
{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if artists.has_previous() %}
            <a href="?id={{ week.week_date }}&page={{ artists.previous_page_number() }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ artists.number }} of {{ artists.paginator.num_pages }}.
        </span>

        {% if artists.has_next() %}
            <a href="?id={{ week.week_date }}&page={{ artists.next_page_number() }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
