div {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

div.title {
  font-size: 54px;
  color: #556516;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  padding-bottom: 10px;
}

div.freshcut {
  background-color:#eeeeee;
  margin-right: 5px;
  padding-right: 5px;
}

a:link {
  color:#778738;
}

a:hover {
  color:#eefeaf;
  background-color: #556516;
}

a:visited {
  color:#623e22;
}

#sidebar {
  float: right;
  background: #eeeeee;
  border-left: #cccccc;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom: #cccccc;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 300px;
  padding: 5px;

}

iframe.spotify {
  width: 300px;
  height: 380px;
}

div.album {
  font-size: 20px;
}

div.artist {
  font-size: 16px;
}

div.genres {
  font-size: 10px;
}

div.release_list_item {
  height: 84px;
}
